<app-slider></app-slider>

<div class="flex flex-col items-center space-y-8 p-4 mt-28 mb-16">
  <div
    class="flex flex-col md:flex-row bg-white rounded-lg shadow-lg overflow-hidden w-full max-w-4xl h-auto md:h-64"
    (click)="list()"
  >
    <div class="w-full md:w-1/2">
      <img
        src="assets/images/ess-m1.png"
        alt="listimage"
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="w-full md:w-1/2 flex flex-col justify-center items-center p-6 text-center md:text-left bg-[#EFE6D6]"
    >
      <h1 class="text-2xl font-bold text-gray-800">
        I got a list <br />
        <span class="text-indigo-500">Let's shop</span>
      </h1>
      <div class="flex flex-row space-x-3">
        <p class="mt-4 text-gray-600 text-lg flex flex-col-1">Let's go</p>
        <span><img src="assets/icons/arrows.png" alt="" class="" /></span>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row bg-white rounded-lg shadow-lg overflow-hidden w-full max-w-4xl h-auto md:h-64"
    (click)="combo()"
  >
    <div
      class="w-full md:w-1/2 flex flex-col justify-center items-center p-6 text-center md:text-left bg-[#EFE6D6]"
    >
      <h1 class="text-2xl font-bold text-gray-800">
        I want to buy for<br />
        <span class="text-indigo-500">Rakhi festival</span>
      </h1>
      <div class="flex flex-row space-x-3">
        <p class="mt-4 text-gray-600 text-lg flex flex-col-1">Let's go</p>
        <span><img src="assets/icons/arrows.png" alt="" class="" /></span>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <img
        src="assets/images/ess-m2.png"
        alt="buyforfestival"
        class="w-full h-full object-center"
      />
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row bg-white rounded-lg shadow-lg overflow-hidden w-full max-w-4xl h-auto md:h-64"
    (click)="combo()"
  >
    <div class="w-full md:w-1/2">
      <img
        src="assets/images/ess-m3.png"
        alt="combo"
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="w-full md:w-1/2 flex flex-col justify-center items-center p-6 text-center md:text-left bg-[#EFE6D6]"
    >
      <h1 class="text-2xl font-bold text-gray-800">
        Can I get a <br />
        <span class="text-indigo-500">festival Combo</span>
      </h1>
      <div class="flex flex-row space-x-3">
        <p class="mt-4 text-gray-600 text-lg flex flex-col-1">Let's go</p>
        <span><img src="assets/icons/arrows.png" alt="" class="" /></span>
      </div>
    </div>
  </div>
</div>

<app-newsletter></app-newsletter>
<app-footer1></app-footer1>
