<div class="container mx-auto max-w-lg p-6 bg-[#49633C] text-[#ffff] rounded-lg shadow-lg mt-8">
    <!-- Signup Heading -->
    <h1 class="text-2xl font-bold text-center mb-6">My Account</h1>
  
    <!-- Signup Form -->
    <!-- <form  > -->
      <!-- Name Field -->
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium  text-[#ffff] mb-2">Name</label>
        <input 
          type="text" 
          id="name" 
          class="w-full px-4 py-2 border text-black rounded-lg focus:outline-none focus:ring focus:ring-[#93da70]"
          placeholder="Enter your name"
          [(ngModel)]="name"
          required 
        />
      </div>
  
      <!-- Email Field -->
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-[#ffff] mb-2">Email ID</label>
        <input 
          type="email" 
          id="email" 
          [(ngModel)]="email"
          class="w-full px-4 py-2 border text-black rounded-lg focus:outline-none focus:ring focus:ring-[#93da70]"
          placeholder="Enter your email"
          required 
        />
      </div>
  
      <!-- Phone Number Field -->
      <div class="mb-4">
        <label for="phone" class="block text-sm font-medium text-[#ffff]  mb-2">Phone Number</label>
        <input 
          type="tel" 
          id="phone" 
          [(ngModel)]="phonenumber"
          class="w-full px-4 py-2 border text-black rounded-lg focus:outline-none focus:ring focus:ring-[#93da70]"
          placeholder="Enter your phone number"
          required 
        />
      </div>
  
      <!-- Password Field -->
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-[#ffff]  mb-2">Password</label>
        <input 
          type="password" 
          id="password" 
          [(ngModel)]="password"
          class="w-full px-4 py-2 border text-black rounded-lg focus:outline-none focus:ring focus:ring-[#93da70]"
          placeholder="Enter your password"
          required 
        />
      </div>
  
      <!-- Terms and Conditions -->
      <div class="mb-4 flex items-start">
        <input 
          type="checkbox" 
          id="terms" 
          class="mt-1 mr-2 focus:ring focus:ring-blue-300"
          required 
        />
        <label for="terms" class="text-sm text-[#ffff] ">
          I agree to the 
          <a href="#" class="text-[#ffff] hover:underline">Terms and Conditions</a>
        </label>
      </div>
  
      <!-- Submit Button -->
      <div>
        <button 
          type="submit" 
          class="w-full bg-white text-black py-2 px-4 rounded-lg transition"
          (click)="onnext()"
        >
          Next
        </button>
      </div>
    <!-- </form> -->
  </div>
  